﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #51504d;
    background-position: center top;
    background-repeat: repeat-x;
    color: #32302d;
    margin-left: 50px;
    background-image: url("/Content/themes/imagedoc-darknoise.png");
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.platform a:link {
    color: green;
}

a:visited {
    color: green;
}

.find-user {
    float: left;
    margin-top: 30px;
}

.find-user .searched-user {
    width: 500px;
}

.find-user .find-user-button {
    margin-left: 10px;
}

.download-link {
    margin-left: 100px;
    margin-top: 10px;
}

.header {
    height: 85px;
}

.games {
    color: greenyellow;
    float: left;
}

.game {
    color: greenyellow;
    margin-top: 40px;
}

.game .result {
    margin-bottom: 10px;
    font-size: 20px;
    width: 300px;
}

.game .column {
    margin-top: 10px;
    width: 300px;
}

.game .game-column {
    display: inline-block;
    width: 150px;
    text-align: left;
    float: left;
}

.game .game-value {
    display: inline-block;
    width: 150px;
    text-align: right;
    float: left;
}

.float-none {
    float: none;
    clear: both;
    display: block;
}

.results {
    margin-top: 10px;
    width: 800px;
}

.graphs {
    color: greenyellow;
    margin-top: 40px;
    float: right;
}

#shortGame {
    position: absolute;
    left: 500px; 
    top: 180px;
}

#simpleGame {
    position: absolute;
    left: 500px; 
    top: 530px;
}

#longGame {
    position: absolute;
    left: 500px; 
    top: 880px;
}

.function {
    width: 600px;
    height: 300px;
}

.flot-tick-label {
    color: greenyellow;
    left: 10px;
}

#shortGame-label {
    margin-top: 20px;
}

#simpleGame-label {
    margin-top: 330px;
}

#longGame-label {
    margin-top: 660px;
}