﻿@{
    ViewBag.Title = "Система просмотра статистики.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/main.js")"></script>
<script type="text/plain" id="tmpl_game">
    <div class="game">
        <div class="result">
            <span class="game-column">${result}</span>
            <span class="game-value">${ownDelta}</span>
            <div class="float-none"></div>
        </div>

        <div class="column">
            <span class="game-column">Соперник: </span>
            <span class="game-value">${enemyName} (${enemyRating})</span>
            <div class="float-none"></div>
        </div>

        <div class="column">
            <span class="game-column">Тип игры: </span>
            <span class="game-value">${mode}</span>
            <div class="float-none"></div>
        </div>

        <div class="column">
            <span class="game-column">Время начала: </span>
            <span class="game-value">${startTime} ${startTimeDate}</span>
            <div class="float-none"></div>
        </div>

        <div class="column">
            <span class="game-column">Время окончания: </span>
            <span class="game-value">${finishTime} ${finishTimeDate}</span>
            <div class="float-none"></div>
        </div>
    </div>
</script>

<div class="header">
    <div class="find-user">
        <input type="text" class="searched-user" />
        <input class="find-user-button" type="button" value="Найти пользователя." />
    </div>
    <a href="~/UserStatistics/DownloadGame" class="download-link"><img src="/Content/themes/ChessIco.png" /></a>
    <div class="float-none"></div>
</div>
<div class="results">
    <div class="games"></div>
    <div class="graphs">
        <div id="shortGame-label">Блиц игра</div>
        <div id="shortGame" class="function"></div>
        <div id="simpleGame-label">Обычная игра</div>
        <div id="simpleGame" class="function"></div>
        <div id="longGame-label">Долгая игра</div>
        <div id="longGame" class="function"></div>
     </div>
</div>